<div class="container">
  <div class="row text-center">
    <div class="col-md-6">
      <div id="call_32" style="width:80%;background-color:#0094ff">
        <script type="text/javascript">
          Skype.ui({
            name: "call",
            element: "call_32",
            participants: ["echo123"],
            imageSize: 32,
            imageColor: "white"
          });  
        </script>
      </div>
    </div>
    <div class="col-md-6">
      <div id="call_32" style="width:80%;height:96px;background-color:#00C511">
        <a href="facetime:user@example.com">Connect using FaceTime</a>
      </div>    
    </div>
  </div>
</div>
  